@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AWS Quick Starts</h1>
    <p class="lead">Quick Starts are built by AWS solutions architects and partners to help you deploy popular technologies on AWS, based on AWS best practices for security and high availability. These accelerators reduce hundreds of manual procedures into just a few steps, so you can build your production environment quickly and start using it immediately.</p>
    <p><a href="https://aws.amazon.com/quickstart" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

